<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Dumb Quotes</title>
        <link rel="stylesheet" href="/cdn/css/main.css">
        <meta property="og:title" content="Vex">
        <meta property="og:type" content="website">
        <meta property="og:url" content="https://me.vex.wtf" />
        <meta property="og:description" content="Wanna know something dumb i've said to someone?" />
        <meta property="og:image" content="https://cdn.shopify.com/s/files/1/1061/1924/products/Emoji_Icon_-_Cowboy_emoji_large.png?v=1571606089">
        <meta name="theme-color" content="#FB7A4B">
    </head>
    <body>
        <div class="content">
            <div class="quote">
                <center><h1 id="emoji" style="font-size: 150px;"></h1></center><br>
                <span class="current">"loading quote..."</span><span class="author"><br> - Billie, 2021</span><br><br>
                <center><button class="change" onclick="update()">Re-spin</button></center>
            </div>

        </div>
        <script src="/cdn/js/main.js"></script>
    </body>
</html>